.hero {
  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    column-gap: 3.5rem;
    row-gap: 1.5rem;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;

    }
  }

  //&__description {
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //}

  &__greetings {
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;

    @media screen and (min-width: 768px) {
      grid-column: 1/2;
      //font-size: 2.125rem;
    }

    @media screen and (min-width: 1200px) {
      //font-size: 2.125rem;
    }
  }

  &__greetings-line {
    display: block;
    width: 3rem;
    height: .125rem;
    background-color: black;
  }

  &__name {
    //margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 2.375rem;

    @media screen and (min-width: 768px) {
      font-size: 3.5rem;
      line-height: 4.5rem;
      grid-column: 1/2;
    }

    @media screen and (min-width: 991px) {
      font-size: 3.5rem;
      line-height: 5.5rem;
      white-space: nowrap;

    }
  }

  &__name-prefix {
    font-weight: 500;
  }

  &__short-description {
    //margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.25rem;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      line-height: 2rem;
      grid-column: 1/2;
    }

    @media screen and (min-width: 992px) {
      //font-size: 2.5rem;
      //line-height: 3rem;
    }
  }

  &__contacts {
    display: flex;
    gap: 2rem;
    justify-content: center;
    grid-row: 5/6;

    @media screen and (min-width: 768px) {
      align-items: flex-end;
      justify-content: unset;
      grid-column: 1/2;
      grid-row: unset;
    }
  }

  &__profile-picture-wrapper {
    text-align: center;
    @media screen and (min-width: 768px) {
      grid-column: 2/3;
      grid-row: 1/5;
    }
  }

  &__profile-picture {
    margin-top: 2rem;
    max-height: 29rem;
    @media screen and (min-width: 768px) {

      max-height: unset;
      margin-top: unset;
      //min-width: 20rem;
    }
  }
}
